.*
*~
*.swp
/game/data/fs/**/*
/game/data/savedGames/*.dat
/nbproject
/manifest.mf
*.iwr
*.ipr
*.iws
/build
/target
/game/bin
/connector/bin
/out
/doc
/lib
/src/rebel.xml
/game/.classpath
/connector/.classpath
/game/.project
/connector/.classpath
!.gitignore