.*
*~
*.swp
/game/data/fs/**/*
/game/data/savedGames/*.dat
/nbproject
/manifest.mf
*.iwr
*.ipr
*.iws
/build
/target
/out
/doc
/lib
/game/bin
/hub/bin
/game/.classpath
/connector/.classpath
/game/.project
/connector/.classpath
!.gitignore